@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

body {
  background-color: #691111;
  color: white;
  width: 95%;
  height: 100vh;
  max-width: 1140px;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 0;
  padding: auto;
  font-family: 'Prompt', sans-serif;
  font-size: 40px;
  line-height: 1.2;
}

#hi {
  margin: 0;
  padding: auto 0;
}

img {
  width: 100%;
  height: auto;
  max-height: 95vh;
  margin: 0;
  padding: 1em auto;
}

.light {
  color: #F6C6C6;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: #F6C6C6;
}

a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 960px) {
  body {
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 50px;
  }
}
